:root {
    --color-primary: #3b82f6;
    --dark-color: #f6f3f3bf;
    --light-bg: #0f172a;
    --white: #0f172a;
    --header-bg: #474646;
    --input-bg: #444343;
    --section-bg: #1e293b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: var(--light-bg);
    color: var(--dark-color);
}

body.light-theme {
    --color-primary: #1353b9;
    --dark-color: #080707;
    --light-bg: #d8dadb;
    --white: #c7c8ca;
    --header-bg: #c7c3c3;
    --input-bg: #dfdada;
    --section-bg: #c7c3c3;
}

header {
    background-color: var(--header-bg);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-esquerda {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    display: none;
}

#menu-toggle {
    display: block;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark-color);
}

#menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 20px;
    background: var(--header-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#menu.active {
    display: block;
}

#menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

#menu a {
    color: var(--dark-color);
    text-decoration: none;
    font-weight: 600;
}

section {
    padding: 60px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sobre img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid var(--white);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.card-projeto {
    background-color: var(--section-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #353535fb;
    flex: 1 1 300px;
    max-width: 400px;
}

form {
    background: var(--white);
    padding: 40px;
    border-radius: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.campo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-size: 13px;
    color: var(--dark-color);
}

input, textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: var(--input-bg);
    color: var(--dark-color);
}

textarea {
    min-height: 120px;
    resize: vertical;
}

button {
    padding: 14px;
    background: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

#theme-toggle {
    font-size: 22px;
    background: transparent;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#theme-toggle:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 30px;
    background-color: var(--header-bg);
    color: var(--dark-color);
    margin-top: 40px;
}

.caixa-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--section-bg);
    padding: 20px;
    border-radius: 15px;
    max-width: 500px;
    margin: 0 auto 30px auto;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.caixa-perfil img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.caixa-perfil h3 {
    font-size: 20px;
}

.caixa-sobre {
    background-color: var(--section-bg);
    padding: 25px;
    border-radius: 15px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.caixa-sobre p {
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .caixa-perfil {
        flex-direction: column;
        text-align: center;
    }
}
